<!DOCTYPE html>
<html>
<head>
    <title>Diary</title>
</head>
<body>

<h2>Student Diary</h2>

<table border="1">
    <tr>
        <th>Student</th>
        <th>Class</th>
        <th>Subject</th>
        <th>Grade</th>
    </tr>

    {% for g in grades %}
    <tr>
        <td>{{ g.student.first_name }} {{ g.student.last_name }}</td>
        <td>{{ g.student.school_class.name }}</td>
        <td>{{ g.subject.name }}</td>
        <td>{{ g.grade }}</td>
    </tr>
    {% endfor %}
</table>

<br>

<a href="/">Back</a>

</body>
</html>